/*
    CSS for PlWeb
   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

div.sidebar
{ float: left;
  width: 180px;
}

div.current-user
{ margin-left: 180px;
  padding-left: 5px;
  text-align: right;
  color: #888;
  font-style: italic;
  font-size: 80%;
}

a.signin:link,
a.signin:visited
{ text-decoration:none;
  color: #888;
}

a.signin:hover
{ text-decoration:underline;
  color: blue;
}

div.righthand
{ margin-left: 180px;
  padding-left: 5px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #a0a0a0;
  overflow: hidden;
}

div.logo
{ text-align: center;
}

div.menu
{ background-color: #f0f0f0;
}

div.footer
{ clear: both;
  font-size: 80%;
  text-align: right;
  margin-top: 10px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #a0a0a0;
}

div.menu ul
{ list-style-type: none;
  padding: 0px;
}

table.downloads
{ margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

table.downloads td
{ border-width: 1px;
  border-style: inset;
  border-color: black;
}

table.downloads th
{ text-align: center;
  background-color: yellow;
  font-weight: bold;
  border-width: 1px;
  border-style: inset;
  border-color: black;
}

td.toggle
{ text-align: right;
  font-size: 80%;
}

td.dl_file p
{ margin-top: 0px;
  margin-bottom: 0px;
}

/* Messages */

div.silent
{ display: none;
}

div.error
{ color: #ff0000;
}

pre.informational
{ background-color: #b0ffb0;
}

pre.error
{ color: #ff0000;
}

/* Search and Auto-complete */

#search-container
{ padding-right: 0.5em;
}

li.ui-menu-item
{ font-size: initial;
  font-family: initial;
}

span.acmatch
{ background-color: #bbf;
}

.ui-menu li.ui-menu-item a	/* Make list more compact */
{ padding-top: 0;
  line-height: 1;
}

.ui-menu-item a.tag		/* Style auto-completion hits */
{ font-style: italic;
}

.ui-menu-item a.builtin
{ color: blue;
}

.ui-menu-item a i
{ font-size: 80%;
  color: #888;
  float: right;
}

/* Tagging */

div.user-annotations
{ font-size: 80%;
  clear: both;
}

div.user-annotations div.tag-notes
{ margin-left: 30%;
  text-align: right;
  font-size: 80%;
  color: #888;
}

ul.tagit
{ margin-bottom: 2px;
}

div.user-annotations ul.tagit li.tagit-choice
{ padding-top: 0pt;
  padding-bottom: 1pt;
}

div.user-annotations ul.tagit li.tagit-new
{ padding-top: 0pt;
}

ul.tagit li.tagit-new input[type="text"]
{ width: 50ex;
}

table.user-tags a.tag
{ background: none repeat scroll 0 0 #DEE7F8;
  text-decoration: none;
  color: black;
  margin: 1px 10px 1px 0px;
  padding: 1px 6px;
  border: 1px solid #CAD8F3;
  border-radius: 6px 6px 6px 6px;
}

span.separator
{ margin-left: 1ex;
  margin-right: 1ex;
}

/* Comments */

div.comments
{ margin-top: 2ex;
}

div.user-annotations div.comment
{ background-color: white;
  color: black;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1ex;
  margin-bottom: 0ex;
  padding: 0px;
  border: 1px dotted;
}

div.user-annotations div.commenter
{ font-size: 80%;
  font-style: italic;
  color: #666;
  text-align: right;
  margin-right: 1.5em;
}

div.user-annotations div.comment-login
{ font-size: 80%;
  font-style: italic;
  color: #666;
  margin-right: 1.5em;
}

div.comment-action
{ font-style: italic;
  color: #666;
}

div.explain-comment
{ margin-top: 10px;
  font-style: italic;
  color: #666;
}

table.user-tags, table.user-comments
{ margin-left: 1cm;
}

td.comment-summary
{ font-size: 90%;
  color: #666;
}

/* Wiki editing */

table.wiki_edit .git_msg
{ width: 100%;
}

table.wiki_edit .git_comment
{ width: 100%;
}

table.wiki_edit td.label
{ text-align: right;
  font-weight: bold;
  font-size: 80%;
}

/* Logon */

div.smallprint
{ margin-left: 30%;
  margin-top: 2ex;
  border-top: 1pt solid;
  text-align: right;
  font-size: 80%;
  color: #888;
}

div.private-profile
{ margin-left: 1.5em;
}

div.private-profile th
{ text-align: right;
  color: #888;
  font-size: 80%;
}

span.openid-url-pattern
{ color: #000;
}

.informational
{ color: #080;
}

.warning
{ color: red;
}

.error
{ color: red;
  font-weight: bold;
}

.menu-item {
  text-transform:uppercase;
}

